.task-cont{
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgb(209, 208, 208);
    margin-bottom: 11%;
    flex-shrink: 0;
}

.check-task-button{
    height: 60%;
    aspect-ratio: 1/1;
    border-radius: 50px;
    border: 3px solid rgb(216, 215, 215);
    background-color: white;
    color: white;
}

.check-task-button:hover{
    cursor: pointer;
    opacity: 0.6;
    opacity: 0.5;
}

.check-task-button:active{
    border: none;
    scale: 0.75;
}

.checked-button{
    background-color: tomato;
    border: none;
}

.task-title{
    margin-left: 3%;
    font-size: 125%;
    font-weight: 50;
    max-width: 80%;
    text-wrap: nowrap;
    overflow: auto;
}

.checked-title{
    text-decoration: line-through;
    opacity: 0.3;
}

.delete-task-button{
    margin-left: auto;
    border: none;
    height: 100%;
    aspect-ratio: 1/1;
    font-size: 120%;
    font-weight: bold;
    color: rgb(216, 215, 215);
    background-color: white;
    border-radius: 25px;
}

.delete-task-button:hover{
    cursor: pointer;
    opacity: 0.70;
}

.delete-task-button:active{
    scale: 0.8;
}